html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin: 20px 0;
}

body {
  color: #fff;
  background: #64D3D3;
  font-family: "Roboto";
}

#stage {
  margin: 100px auto;
  width: 793px;
  text-align: center;
}

a{
  color: #fff;
  font-size: 70px;
  padding: 0 20px;
  text-decoration: none;
}