.drop #subtitles{
  display: none;
}

.switch input[type="time"] {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 200;
  padding: 5px 5px 5px;
  width: 95px;
}

.time-input {
  position: relative;
  background: #ffffff;
}


input::-webkit-datetime-edit-hour-field,
input::-webkit-datetime-edit-minute-field,
input::-webkit-datetime-edit-second-field {

}

input::-webkit-clear-button,
input[type="time"]::-webkit-inner-spin-button {
  display: none;
}

.switch input,
.switch label {
  margin: 0;
  position: relative;
  box-sizing: border-box;
  height: 30px
}

.switch {
  position: absolute;
  left: 243px;
}

.switch > div {
  overflow-x: hidden;
  width: 312px;
  position: absolute;
  z-index: 222;
}

.switch .box {
  transition: .2s;
  display: -webkit-flex;
  width: 564px;
}

.switch label {
  width: 30px;
  height: 30px;
  background: rgb(219, 219, 219);
  color: white;
  font-weight: 100;
  font-size: 17px;
  text-align: center;
  padding-top: 4px;
}

.switch label:nth-child(2),
.set-time label:nth-child(3) {
  background: rgb(33, 158, 182);
}

.set-time label:nth-child(2) {
  background: rgb(219, 219, 219);
}

.time-input {
  display: -webkit-flex;
}

.time-input div {
  position: relative;
}

form {
  position: relative;
  overflow: hidden;
  width: 230px
}

.time {
  left: -170px
}

.tt-dropdown-menu {
  position: relative !important;
}

.set-time {
  margin-left: -254px;
}

.twitter-typeahead,
.time-input,
.typeahead {
  flex: 1;
}